<html>
  <head>
    <link type="text/css" rel="stylesheet" charset="utf-8" href="/static/styles/main.css" />
    <title>关于 FavRead</title>
  </head>
  <body>
    <div class="container about">

      <img id="logo-120" src="/static/images/logo_120.png" />

      <h1>FavRead</h1>

      <h2>新浪微博收藏同步阅读工具。</h2>

      <p>在这里，可以同步你的微博收藏，方便在任意时刻翻阅整理你的收藏。</p>

      <h2>关于作者</h2>

      <p>功能都没写完，怎么好意思写About！</p>

      <h2>鸣谢</h2>
      <p><a href="http://djangoproject.com/" target="_blank">Django</a></p>
      <p><a href="http://jquery.com/" target="_blank">JQuery</a></p>
      <p><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></p>
      <p><a href="http://glyphicons.com/" target="_blank">Glyphicons</a></p>
    </div>
  </body>
</html>
