<html>
<head>
<link type="text/css" rel="stylesheet" charset="utf-8" href="http://sharpmark.net/static/style.css" />
</head>
<body>
<div id="feed_list">
{% load status_extras %}
{% for status in favlist.favorites %}
    {% with user=status.user %}
    <div class="feed"><div class="feed_detail">
        <div class="avatar">
            <a class="avatar_radius" href="http://weibo.com/{{ user.profile_url }}"><img title="{{ user.name }}" width="50" height="50" src="{{ user.avatar_large }}" /></a>
        </div>
        <div class="detail">
            <div class="operate">
                <!--a href="#">取消收藏</a-->
            </div>
            <div class="info"><a class="name" href="{{ user.profile_url }}">{{ user.name }}</a></div>
            <div class="text">{{ status.text|statusfmt|safe }}</div>
            {% if status.pic_urls %}
            <ul class="media_list bigcursor">
                {% for pic in status.pic_urls %}
                <li><div class="pic_min">
                    <img class="bigcursor" src="{{ pic.thumbnail_pic }}"
                </div></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if status.retweeted_status %}{% with rtuser=status.retweeted_status.user rtstatus=status.retweeted_status %}
            <div class="retweeted">
                <div>
                    <div class="info"><a class="name" href="{{ forwarduser.url }}">{{ rtuser.name }}</a></div>
                    <div class="text">{{ rtstatus.text|statusfmt|safe }}</div>
                </div>
                {% if rtstatus.pic_urls %}
                <ul class="media_list bigcursor">
                    {% for pic in rtstatus.pic_urls %}
                    <li><div class="pic_min">
                        <img class="bigcursor" src="{{ pic.thumbnail_pic }}"
                    </div></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="expand" style="display: none;"></div>
                <div class="func">
                    <div class="handle">赞({{ rtstatus.attitudes_count }})| 转发({{ rtstatus.reposts_count }}) | 评论({{ rtstatus.comments_count }})</div>
                    <div class="from"><a class="time" target="_blank" href="{{ status.url }}">{{ rtstatus.created_at|timefmt }}</a></div>
                </div>
            </div>
            {% endwith %}{% endif %}
            <div class="func">
                <div class="handle">赞({{ status.attitudes_count }})| 转发({{ status.reposts_count }}) | 评论({{ status.comments_count }})</div>
                <div class="from"><a class="time" target="_blank" href="{{ status.url }}">{{ status.created_at|timefmt }}</a></div>
            </div>
        </div>
    </div>
{% endwith %}</div>
{% endfor %}
</div>
<div class="pageinator">
    <span class="prev">前页</span>
    {% for p in page_count %}
    <a href="/page/{{p}}">{{p}}</a>
    {% endfor %}
    <span class="next">下页</span>
</div>
</body>
</html>

