{% load status_extras %}
{% with user=status.user %}
  <div class="detail-cover"></div>
  <div class="detail-header">
    <div class="detail-logo">
      <img class="img-thumbnail" src="{{ user.avatar_large }}" width="180" height="180" alt="{{ user.name }}" title="{{ user.name }}">
    </div>
    <div class="detail-info">
      <div class="detail-username"><h3>{{ user.name }}</h3></div>
      <div class="detail-moreinfo"><p>关注:{{ user.bi_followers_count }}&nbsp;&nbsp;&nbsp;粉丝:{{ user.followers_count }}&nbsp;&nbsp;&nbsp;微博:{{ user.statuses_count }}</p></div>
    </div>
  </div>
  <div class="detail-content" id="detail-{{ status.id }}">
    <!--div class="operate">
      <a href="#">取消收藏</a>
    </div-->
    <div class="status-text">
      {{ status.text|statusfmt|safe }}
    </div>
    {% if status.pic_urls %}
    <ul class="media-list list-unstyled">
      {% for pic in status.pic_urls %}
      <li>
        <a href="{{ pic.thumbnail_pic|imagelarge }}" target="_blank">
          <img class="img-responsive img-rounded" src="{{ pic.thumbnail_pic|imagelarge }}" />
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if status.retweeted_status %}{% with rtuser=status.retweeted_status.user rtstatus=status.retweeted_status %}
    <div class="status-retweeted">
      <div class="status-text">
        <span class="status-user-name"><a href="http://weibo.com/{{ rtuser.profile_url }}">{{ rtuser.name }}</a>：</span>{{ rtstatus.text|statusfmt|safe }}
      </div>
      {% if rtstatus.pic_urls %}
      <ul class="media-list list-unstyled">
        {% for rpic in rtstatus.pic_urls %}
        <li>
          <a href="{{ rpic.thumbnail_pic|imagelarge }}" target="_blank">
            <img class="img-responsive img-rounded" src="{{ rpic.thumbnail_pic|imagelarge }}" />
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="status-tail">
        <span class="status-from"><a href="http://weibo.com/{{ rtuser.id }}/{{ rtstatus.id|id2url }}" target="_blank">{{ rtstatus.created_at|timefmt }}</a></span>
        <span class="status-handle span-right">赞({{ rtstatus.attitudes_count }}) | 转发({{ rtstatus.reposts_count }}) | 评论({{ rtstatus.comments_count }})</span>
      </div>
    </div>
    {% endwith %}{% endif %}
    <div class="status-tail">
      <span class="status-from"><a href="http://weibo.com/{{ user.id }}/{{ status.id|id2url }}" target="_blank">{{ status.created_at|timefmt }}</a></span>
      <span class="status-handle span-right">赞({{ status.attitudes_count }}) | 转发({{ status.reposts_count }}) | 评论({{ status.comments_count }})</span>
    </div>
  </div>
{% endwith %}
