<div class="tag-wrap">
  <a class="tag-close" title="关闭" href="javascript:void(0)">X</a>
  <div class="tag-add">
    <div class="tips"><span>选择标签</span></div>
    <div class="input-outer"><input type="text" class="form-control"></div>
    <div class="tips"><span>最多两个标签，用空格分隔</span></div>
    <div class="tag-list">
      <a class="tag-item" href="javascript:void(0)">tag1</a>
      <a class="tag-item" href="javascript:void(0)">tag2</a>
      <a class="tag-item" href="javascript:void(0)">tag2</a>
      <a class="tag-item" href="javascript:void(0)">中文tag</a>
    </div>
    <div class="text-right tag-operator">
      <a class="btn btn-success btn-sm" href="javascript:void(0)"><span>添加</span></a>
      <a class="btn btn-default btn-sm" href="javascript:void(0)"><span>取消</span></a>
    </div>
  </div>
</div>
