body {
    background: #252525;
    color: #3f484f;
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
    -webkit-font-smoothing:antialiased;
    padding-top: 70px;
}

.span-right { float: right; }

/* left panel status list */

#status-list
{
    background: #f8f8f8;
    padding: 0 20px 0;
}
.status-item
{
    padding: 20px 0 11px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e6e6e6;
}
.status-user-avatar
{
    float: left;
    position: relative;
    margin-right: 10px;
}
.status-text
{
    font-size: 18px;
    line-height: 30px;
    padding: 4px 0 4px;
    word-break: break-all;
}
.status-user-name a
{
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #444;
}
.status-retweeted
{
    border-width: 1px;
    border-style: solid;
    border-color: #d7eefb;
    background-color: #f2f2f2;
    padding: 10px 20px 10px;
    margin: 5px 0 15px;
    border-radius: 3px;
}
.media-list li {
    display: inline;
    vertical-align: top;
}
.media-list li img { margin: 5px;}

.status-time { color: #aaa; }

#pagination {
    text-align: center;
    background-color: #f8f8f8;
}
.pagination { margin: 10px 0;}
.pagination>li>a {padding: 6px 9px;}

/* status detail */

.detail-cover
{
    position: relative;
    min-height: 35px;
}

.detail-header
{
    position: relative;
    padding: 10px 0;
    background: #eee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e6e6e6;
}
.detail-logo
{
    position: absolute;
    padding-left: 20px;
    bottom: 10px;
}
.detail-logo img {
    width: 90px;
    height: 90px;
}

.detail-info { margin-left: 140px; }
.detail-info h3, p {
    margin: 0;
    margin-top: 5px;
}
.detail-content {
    padding: 20px;
    background: #eee;
}

/* scroll left/right panel */
#status-panel, #status-detail
{
    max-height: 100%;
    position: relative;
    overflow: hidden;
}

/* welcome page */
#logo-120 {
    margin: 20px;
}

.about {
    text-align: center;
    background-color: #f2f2f2;
}

.welcome {
    text-align: center;
    background-color: #f2f2f2;
    height: 100%;
}
