div { display:block; }

body {
    font-size: 14px;
    background: #252525;
    color: #3f484f;
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
    -webkit-font-smoothing:antialiased;
}
a
{ 
    color: #0078b6; 
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover, a:active
{
    text-decoration: underline;
}
li { list-style: none; }

.fix_width
{
    max-width: 40%;
    margin: 0 auto;
}
nav
{
    background: linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    font-size: 18px;
    -moz-border-radius-topleft: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    border-top-left-radius: 0.4em;
    -moz-border-radius-topright: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
    border-top-right-radius: 0.4em;
}
#mylink
{
    padding: 10px;
    text-align: right;
}

#left
{
    float: left;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#feed_list
{
    background: #f8f8f8;
}

#extra
{
    margin: 20px;
    padding: 20px;
    left: 40%;
    width: 55%;
    background: #eee;
    overflow: hidden;
    position: absolute;
    display: none;
}
.feed
{
    margin: 0 20px 0;
    padding: 20px 0 0;
}

.feed_detail
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 0 11px;
    border-color: #e6e6e6;
}

.avatar
{
    float: left;
    width: 50px;
    position: relative;
}

.name
{
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
}

.detail
{
    margin-left: 65px;
}

.text
{
    font-size: 18px;
    line-height: 30px;
    padding: 4px 0 4px;
    word-break: break-all;
}

.retweeted
{
    border-width: 1px;
    border-style: solid;
    border-color: #d7eefb;
    background-color: #f2f2f2;
    padding: 10px 20px 10px;
    margin: 5px 0 15px;
    border-radius: 3px;
    color: #444;
}

.func
{
    color: #aaa;
}

.handle, .operate
{
    float: right;
}

.media_list {
    margin-right: 10px -20px;
    padding: 0 0 0 10px;
}

.media_list li {
    display: inline;
    margin: 0 9px 0 0;
    vertical-align: top;
}

.name { color: #444; }

.time { color: #aaa; }

.pic_min {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.pic_min img {
    width: 50px;
    height: 50px;
}

.pagination {
    font-size: 20px;
    background: linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    font-size: 18px;
    -moz-border-radius-bottomleft: 0.4em;
    -webkit-border-bottom-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    -moz-border-radius-bottomright: 0.4em;
    -webkit-border-bottom-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

.step-links {
    padding: 10px;
    text-align: center;
}

#logo-120 {
    margin: 20px;
}

.welcome {
     text-align: center;
     background-color: #f2f2f2;
     height: 100%;
}

#status_wrap
{
    padding-left: 20px;
}
#status_header_cover
{
    position: relative;
    min-height: 35px;
}

#status_header_content
{
    position: relative;
    padding: 10px 0;
}

#status_header_logo
{
    position: absolute;
    bottom: 10px;
}
#status_header_logo img {
    width: 90px;
    height: 90px;
}

#status_header_info { margin-left: 120px; }

#status_username h2 {
    font-weight: bold;
    margin: 0;
}
#status_moreinfo p { margin: 0; }
.status_detail {
    margin-top: 20px;
}
